.top-bar-actions
  button.btn.btn-primary id="addExpense" type="button" data-bs-toggle="modal" data-bs-target="#expenseModal"  Add an expense
  button.btn.btn-secondary id="settleUp" type="button" data-bs-toggle="modal" data-bs-target="#settleUpModal"  Settle up